{% extends '_layout.html' %}

{% block body %}
<h1 class="mb-3">New Book</h1>
<form action="/books" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control" autocomplete="off" required>
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" name="author" id="author" class="form-control" autocomplete="off" required>
  </div>
  <div class="mb-3">
    <label for="rating" class="form-label">Rating</label>
    <select name="rating" id="rating" class="form-select" required>
      <option value="" selected disabled>Select a rating</option>
      {% for num in range(1, 6) %}
      <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
